<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <style>
            body {
                text-align:center;
            }
            h1 {
                color:green;
            }
        </style>
</head>
<body>
<h1>LABA</h1>
<h2> REGISTRATION</h2>
<form action="/register" method="POST">
    Login:
    <input name="login" type="text" placeholder = "Login"
           value="">
    <br><br>
    Password:
    <input name="password" type="password" placeholder = "Password"
           value="">
    <br><br>
    <input type="submit" value="Register">
</form>
</body>
</html>