<!DOCTYPE html>
<html>
<head>
    <title>User</title>
    <style>
            body {
                text-align:center;
            }
            h1 {
                color:green;
            }
        </style>
</head>
<body>
<h1>LABA</h1>
<h2> User</h2>
<form action="/user" method="POST">
    Note:
    <input name="note" type="text" placeholder = "Add note here"
           value="">
    <br><br>
    <br><br>
    <input type="submit" value="Add note">
</form>
<h2></h2>

<button onclick="window.location.href='http://127.0.0.1:8080/quit';"> Quit </button>


</body>
</html>